*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 200px auto;
}

img{
    width: 400px;
    height: 400px;
}

button{
    cursor: pointer;
}