*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 200px auto;
    width: 600px;
}

.blue-bg{
    background-color: blueviolet;
}

img{
    width: 400px;
    height: 400px;
}

.better-img{
    border-radius: 16px;
}

button{
    cursor: pointer;
}

.better-buttons{
    background-color: orange;
    color: white;
    padding: 8px 16px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
}